@page "/message-box"
@attribute [Authorize(Roles = Roles.StudentRole)]

@using Pusula.Student.Automation.Enums
@using Pusula.Student.Automation.Shared
@using Pusula.Student.Automation.Courses
@using Pusula.Student.Automation.Students
@using Pusula.Student.Automation.Enrollments
@using Pusula.Student.Automation.Enrollments.TeacherComments
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.Users

@inherits AutomationComponentBase

@inject IStudentAppService StudentAppService
@inject IEnrollmentAppService EnrollmentAppService
@inject ICurrentUser CurrentUser

<PageHeader Title="Message Box" />

@if (!_loaded)
{
    <Row class="w-100 align-items-center" style="height: 150px;">
        <Column>
            <RadarSpinner />
        </Column>
    </Row>
}
else if (!_studentId.HasValue)
{
    <SfMessage Severity="MessageSeverity.Error">We couldn't find a student record for the signed-in user.</SfMessage>
}
else if (_items.Count == 0)
{
    <SfMessage Severity="MessageSeverity.Error"> You have no teacher comments yet.</SfMessage>
}
else
{
    @foreach (var item in _items)
    {
        <SfCard>
            <Syncfusion.Blazor.Cards.CardHeader Title="@item.CourseName" />
            <CardContent>
                @if (item.Comments.Count == 0)
                {
                    <p class="text-muted mb-0">No comments for this course.</p>
                }
                else
                {
                    <div>
                        @foreach (var comment in item.Comments)
                        {
                            <div class="mb-3 p-3 border rounded">
                                <p>@comment.Comment</p>
                            </div>
                        }
                    </div>
                }
            </CardContent>
        </SfCard>
    }
}